.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#paper-1 {
  width: 100%;
  height: 20%;
  border: gray solid 1px;
  border-top: 0;
}

#paper-2 {
  width: 98%;
  height: 0.3%;
  border: gray solid 1px;
  border-top: 0;
}

#paper-3 {
  width: 96%;
  height: 0.3%;
  border: gray solid 1px;
  border-top: 0;
  
}

#inputToDo {
  width: 100%;
  border:gray solid 1px;
  border-bottom: 0;
  font-size: larger;
  text-indent: 10%;
 
 
}

.paperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vmax;
  width: 40%;
}

.globalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

* {
  box-sizing: border-box;
}